@import "base/normalize";
@import "base/general";

.blog-title {
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color: #fff;
}

.post-header a {
  text-decoration: none;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

